services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: inetc
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - inetc-db-data:/var/lib/postgresql/data

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "6831:6831/udp" # Jaeger spans
      - "16686:16686" # Jaeger UI
      - "4317:4317" # OTLP gRPC receiver
      - "4318:4318" # OTLP HTTP receiver
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411
  
  api:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/inetc
      - DATABASE_DRIVER=postgres
      - TRACING_HOST=jaeger
      - TRACING_PORT=4318
    depends_on:
      - db

volumes:
  inetc-db-data:
