name: ci
on:
  push:
jobs:
  push_to_registry:
    runs-on: ubuntu-latest
    name: Push Docker image to GHCR docker registry
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: gi-yt
          password: ${{ secrets.PUSH_SECRET }}
          registry: ghcr.io

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          tags: ghcr.io/gnulinuxindia/internet-chowkidar:latest
